<ul class="nav flex-column float-left wrapper d-flex">
    <li class="nav-item nav-item-picture">
        <div class="user-picture d-flex justify-content-center" [routerLink]="['/']">
        </div>
    </li>
    <li class="nav-item x" *ngFor="let tab of tabs"
        (click)="setActiveTab(tab)"
        [class.active]="tab.name==activeTab">
        <i class="fa {{tab.icon}} d-flex justify-content-center fa-1x {{tab.margin}} {{tab.color}} "
           [routerLink]="['/'+tab.routeTo]"
           ></i>
        <a class="nav-link d-flex justify-content-center" href="#"
           [routerLink]="['/'+tab.routeTo]"
        >{{tab.name}}</a>
    </li>
</ul>
