div.image_content {
    display: grid;
    align-items: stretch;
    padding-top: 20px;
    padding-bottom: 10px;
    height: 20vw;
}
.wrapper{
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 10px;
}
.movie-title {
    font-size: 14px;
    padding-top: 5px;
    color: white !important;
    text-align: left;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden !important;
}

.col-3:hover img{
  opacity: 0.2;
}
.middle {
  visibility: hidden;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
    cursor: pointer;

}

.col-3:hover .middle {
  opacity: 1;
  visibility: visible !important;
    cursor: pointer;

}
.col-3:hover .top-left{
  opacity: 1;
  visibility: visible !important;
  color: white;
    cursor: pointer;

}
.col-3:hover .fa-play-circle {
  color: white;
    cursor: pointer;

}
.top-left {
  visibility: hidden;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

}
img {
  min-height: 296px;
}
.mt-6 {
  margin-top: 3.5em;
}
.stars {
    margin-left: -5px;
}
.small-font{
    font-size: 13px;
}
