div.image_content {
    width: 100%;
    height: 90%;
    display: grid;
    align-items: stretch;
    padding-top: 20px;
    padding-bottom: 10px;
}
.movie-title {
    padding-top: 5px;
    color: white !important;
    text-align: left;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden !important;
}
.movie-genre {
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden !important;
}
.movie-length {
    display: inline;
    text-align: right;    
    font-size: 15px;
}
