/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Roboto', sans-serif !important;
}
/* Scroll styles */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(66, 78, 96, 0.5);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(156, 156, 173);
    -webkit-box-shadow: inset 0 0 6px rgba(66, 78, 96, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(66, 78, 96, 0.5);
}